html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: #FAF7F4;
  background-attachment: fixed;
}

body::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background: url(../images/pet-25.png) repeat center / cover;
  opacity: 0.2;

  z-index: -1;
}

/* 헤더 */
.header {
  width: 100%;
  height: 85px;
  position: fixed;
  z-index: 999;
  transition: 0.3s;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.logo {
  width: 140px;
  height: 27px;
  display: block;
  background: url(../images/logo_w.png) no-repeat center / cover;
}

.nav {
  font-family: 'Juache';
}

.gnb {
  display: flex;
}

.gnb li {
  font-size: 18px;
  color: #fff;
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.gnb li a {
  font-size: 18px;
  color: #fff;
  width: 100%;
  height: 100%;
}

.gnb li:hover {
  transform: scale(1.3);
}

.header.active {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.header.active .logo {
  background: url(../images/logo_d.png) no-repeat center / cover;
}

.header.active .gnb li a {
  color: #333;
}

.hamburgar-btn {
  display: none;
}

.responsive-nav {
  display: none;
}

/* 메인비주얼 */
.main-visual {
  height: 100vh;
}

.mvSwiper {
  height: inherit;
}

.mvSwiper .swiper-slide {
  width: 100%;
  height: inherit;
  position: relative;
}

.mvSwiper .swiper-slide::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
}

.mv-slide1 {
  background: url(../images/pet-20-scaled.jpeg) no-repeat center / cover;
}

.mv-slide2 {
  background: url(../images/pet-21-scaled.jpeg) no-repeat center / cover;
}

.mv-slide3 {
  background: url(../images/pet-22-scaled.jpeg) no-repeat center / cover;
}

.main-visual .inner {
  height: inherit;
  display: flex;
  align-items: center;
}

.main-visual-content-wrap {
  position: relative;
  z-index: 1;
  font-family: 'Juache';
  font-weight: normal;
  color: #FFF;
}

.main-visual-sub-title {
  font-size: 36px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.main-visual-main-title {
  font-size: 72px;
  margin-bottom: 20px;
}

.more-detail-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 30px;
  border: none;
  background: #FFC900;
  transition: 0.3s;
  margin-bottom: 80px;
}

.more-detail-text {
  font-family: 'Pretendard';
  font-size: 16px;
  color: #FFF;
  font-weight: 600;
}

.more-detail-circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  background: #fff;
  color: #FFC900;
}

.more-detail-btn:hover {
  background: #ffae00;
}

.main-visual-desc {
  font-family: 'Pretendard';
}

.mv-btn-next,
.mv-btn-prev {
  border-radius: 50%;
}

.mv-btn-next {
  border: 1px solid #fff;
  left: 90% !important;
  top: 90% !important;
  color: #fff;
}

.mv-btn-next::after {
  content: '\f054';
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.mv-btn-prev {
  border: 1px solid #fff;
  left: 87% !important;
  top: 90% !important;
  color: #fff;
}

.mv-btn-prev::after {
  content: '\f053';
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.mv-pagination {
  left: -800px !important;
  top: 88% !important;
}

.mv-pagination .swiper-pagination-bullet {
  width: 22px;
  height: 22px;
  background: #fff;
  position: relative;
  opacity: 1;
}

.mv-pagination .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FFC900;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.mv-pagination .swiper-pagination-bullet-active {
  position: relative;
  background: #FFC900;
}

.mv-pagination .swiper-pagination-bullet-active::after {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

/* 소개 */
.intro-content-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: 325px 325px;
  grid-gap: 20px;
}

.intro-card {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.intro-card1 {
  grid-area: 1 / 1 / 3 / 2;
  background: #FFC900;
}

.intro-card1::after {
  content: '';
  position: absolute;
  width: 487px;
  height: 653px;
  background: url(../images/section-1-1.png) no-repeat center / cover;
  right: 0;
  bottom: 0;
}

.intro-card2 {
  grid-area: 1 / 2 / 2 / 3;
  background: #E3DED7;
}

.intro-card2::after {
  content: '';
  position: absolute;
  width: 485px;
  height: 325px;
  background: url(../images/section-1-2.png) no-repeat center / cover;
  right: 0;
  bottom: 0;
}

.intro-card3 {
  grid-area: 2 / 2 / 3 / 3;
  background: #E3DED7;
}

.intro-card3::after {
  content: '';
  position: absolute;
  width: 331px;
  height: 335px;
  background: url(../images/section-1-3.png) no-repeat center / cover;
  right: 0;
  bottom: 0;
}

.intro-card-text-wrap {
  position: absolute;
  left: 20px;
  bottom: 40px;
  z-index: 1;
}

.intro-card-text-bold {
  font-family: 'Juache';
  font-size: 36px;
}

.intro-card-text-small {
  font-size: 16px;
}

/* 서비스 */
.service {
  background: #fff;
}

.service-content-container {
  display: flex;
  gap: 20px;
}

.service-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-card1 .service-card-img {
  width: 100%;
  height: 320px;
  background: url(../images/pet-14-scaled.jpeg) no-repeat center / cover;
}

.service-card2 .service-card-img {
  width: 100%;
  height: 320px;
  background: url(../images/pet-15-scaled.jpeg) no-repeat center / cover;
}

.service-card-img {
  border-radius: 15px;
}

.service-card-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.service-card-title {
  font-family: 'Juache';
  font-size: 36px;
}

.service-card-sub {
  font-size: 16px;
  font-weight: 600;
  color: #666;
}

.service-card-desc {
  font-size: 16px;
  color: #555;
  line-height: 140%;
}

/* 분양절차 */
.procedure-content-container {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.procedureSwiper-wrap {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.procedureSwiper {
  width: 100%;
}

.procedureSwiper .section-sub-title {
  line-height: 140%;
}

.procedure-img {
  flex: 1;
  height: 400px;
  background: url(../images/pet-13-scaled.jpeg) no-repeat center / cover;
  border-radius: 15px;
}

.procedure-btn-next,
.procedure-btn-prev {
  border-radius: 50%;
}

.procedure-btn-next {
  border: 1px solid #888;
  left: 50px !important;
  top: 240px !important;
  color: #888;
}

.procedure-btn-next::after {
  content: '\f054';
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.procedure-btn-prev {
  border: 1px solid #888;
  left: 0 !important;
  top: 240px !important;
  color: #888;
}

.procedure-btn-prev::after {
  content: '\f053';
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

/* 배너 */
.banner {
  width: 100%;
  height: 438px;
  background: url(../images/bg_img_2.jpeg) no-repeat center / cover;
  display: flex;
  align-items: center;
  position: relative;
}

.banner-text-wrap {
  color: #FFF;
}

.banner-title {
  font-family: 'Juache';
  font-size: 72px;
  margin-bottom: 20px;
}

.banner-desc {
  font-size: 16px;
}

.banner-puppy {
  position: absolute;
  width: 510px;
  height: 600px;
  background: url(../images/pet-23.png) no-repeat center / cover;
  right: 40px;
  top: -70px;
}

/* 분양 */
.sale {
  background: #fff;
}

.sale-content-wrap {
  display: flex;
  gap: 20px;
}

.sale-card-wrap {
  flex: 1;
  height: 380px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.sale-card-wrap::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5) 90%);
}

.sale-card {
  width: 100%;
  height: 100%;
}

.animal-img {
  width: 100%;
  height: 100%;
  transition: .3s;
}

.sale-content-wrap1 .sale-card-wrap:nth-child(1) .animal-img {
  background: url(../images/pet-6-scaled.jpeg) no-repeat center / cover;
}

.sale-content-wrap1 .sale-card-wrap:nth-child(2) .animal-img {
  background: url(../images/pet-5-scaled.jpg) no-repeat center / cover;
}

.sale-content-wrap1 .sale-card-wrap:nth-child(3) .animal-img {
  background: url(../images/pet-8-scaled.jpeg) no-repeat center / cover;
}

.sale-content-wrap1 .sale-card-wrap:nth-child(4) .animal-img {
  background: url(../images/pet-7-scaled.jpeg) no-repeat center / cover;
}

.sale-content-wrap2 .sale-card-wrap:nth-child(1) .animal-img {
  background: url(../images/pet-9-scaled.jpeg) no-repeat center / cover;
}

.sale-content-wrap2 .sale-card-wrap:nth-child(2) .animal-img {
  background: url(../images/pet-27-scaled.jpeg) no-repeat center / cover;
}

.sale-content-wrap2 .sale-card-wrap:nth-child(3) .animal-img {
  background: url(../images/pet-11-scaled.jpeg) no-repeat center / cover;
}

.sale-content-wrap2 .sale-card-wrap:nth-child(4) .animal-img {
  background: url(../images/pet-12-scaled.jpeg) no-repeat center / cover;
}

.animal-info {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: 100%;
  color: #FFF;
  z-index: 1;
}

.animal-name {
  font-family: 'Juache';
  font-size: 18px;
}

.animal-desc {
  font-size: 16px;
}

.sale-card-wrap:hover .animal-img {
  transform: scale(1.1);
}

/* 리뷰 */
.review .inner {
  display: flex;
  align-items: center;
}

.review .title-container {
  width: 50%;
}

.review .review-content-container {
  width: 50%;
  position: relative;
}

.reviewSwiper {
  /* 오른쪽 끝까지 빠져 나가게 */
  margin-right: calc((100vw - 1540px) / -2);
  /* 왼쪽 빈 공간 채우기 */
  padding-left: calc((100vw - 1540px) / 2);
}

.reviewSwiper .swiper-wrapper {
  margin-left: calc((100vw - 1540px) / -2);
}

.review-slide {
  width: 330px;
}

.review-card-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  overflow: hidden;
}

.review-card-img {
  width: 100%;
  height: 300px;
}

.review-card-wrap1 .review-card-img {
  background: url(../images/pet-31-scaled.jpeg) no-repeat center / cover;
}

.review-card-wrap2 .review-card-img {
  background: url(../images/pet-30-scaled.jpeg) no-repeat center / cover;
}

.review-card-wrap3 .review-card-img {
  background: url(../images/pet-29-scaled.jpeg) no-repeat center / cover;
}

.review-card-wrap4 .review-card-img {
  background: url(../images/pet-28-scaled.jpeg) no-repeat center / cover;
}

.review-card-wrap5 .review-card-img {
  background: url(../images/pet-32-scaled.jpeg) no-repeat center / cover;
}

.review-card-text-box {
  width: 100%;
  height: 200px;
  padding: 30px 20px;
  background: #fff;
}

.review-card-text-title {
  font-size: 24px;
  font-weight: 700;
}

.review-card-text-desc {
  font-size: 16px;
  color: #888;
  line-height: 140%;
  margin-top: 20px;
}

.review-btn-next,
.review-btn-prev {
  border-radius: 50%;
  position: absolute;
}

.review-btn-next {
  border: 1px solid #888;
  color: #888;
  left: -710px !important;
  top: 350px !important;
}

.review-btn-next::after {
  content: '\f054';
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.review-btn-prev {
  border: 1px solid #888;
  color: #888;
  left: -760px !important;
  top: 350px !important;
}

.review-btn-prev::after {
  content: '\f053';
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

/* 지점 */
.store {
  background: #fff;
}

.store-info-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.store-info-img {
  width: 100%;
  height: 200px;
  border-radius: 30px;
}

.store-slide1 .store-info-img,
.store-slide3 .store-info-img,
.store-slide5 .store-info-img,
.store-slide7 .store-info-img {
  background: url(../images/img-2.jpeg) no-repeat center / cover;
}

.store-slide2 .store-info-img,
.store-slide4 .store-info-img,
.store-slide6 .store-info-img,
.store-slide8 .store-info-img {
  background: url(../images/img-1.jpeg) no-repeat center / cover;
}

.store-info-text-wrap {
  padding: 0 10px;
}

.store-info-text-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.store-info-text-desc {
  color: #666;
  line-height: 150%;
}

/* 푸터 */
.footer {
  padding: 50px 0;
  background: #FFC900;
}

.footer-logo-img {
  display: block;
  width: 140px;
  height: 26.98px;
  background: url(../images/logo_d.png) no-repeat center / cover;
}

.footer-text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  margin-top: 20px;
}

.footer-text-wrap {
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer-text-box {
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer-text-title {
  font-weight: 700;
}

.footer-text-wrap4 {
  margin-top: 12px;
}

@media (max-width: 768px) {
  .header {
    height: 53px;
  }

  .nav {
    display: none;
  }

  .main-visual-sub-title {
    font-size: 24px;
  }

  .main-visual-main-title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .mv-btn-next {
    left: 85% !important;
  }

  .mv-btn-prev {
    left: 74% !important;
  }

  .mv-pagination {
    left: -160px !important;
    top: 89% !important;
  }

  .intro-content-container {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 145px 145px;
  }

  .intro-card1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .intro-card1::after {
    width: 233px;
    height: 299px;
  }

  .intro-card2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .intro-card2::after {
    width: 215px;
    height: 144px;
  }

  .intro-card3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .intro-card3::after {
    width: 141px;
    height: 142px;
  }

  .service-content-container {
    flex-direction: column;
  }

  .procedure-content-container {
    flex-direction: column;
    align-items: stretch;
  }

  .procedureSwiper-wrap {
    width: 100%;
    flex: none;
  }

  .procedure-img {
    height: 240px;
    width: 100%;
    flex: none;
    margin-top: 80px;
  }

  .procedure-btn-next {
    left: 50px !important;
    top: 200px !important;
  }

  .procedure-btn-prev {
    left: 0 !important;
    top: 200px !important;
  }

  .banner {
    height: 400px;
    align-items: flex-start;
  }

  .banner-title {
    font-size: 42px;
    margin-top: 20px;
  }

  .banner-puppy {
    width: 255px;
    height: 300px;
    right: 20px;
    top: 150px;
  }

  .sale-content-wrap {
    flex-direction: column;
  }

  .sale-card-wrap {
    flex: none;
    width: 100%;
    height: 445px;
  }

  .review .inner {
    flex-direction: column;
    align-items: stretch;
  }

  .review .title-container {
    width: 100%;
  }

  .review .review-content-container {
    width: 100%;
  }

  .reviewSwiper {
    margin-right: 0;
    padding-left: 0;
    margin-top: 50px;
  }

  .reviewSwiper .swiper-wrapper {
    margin-left: 0;
  }

  .review-slide {
    width: 100%;
  }

  .review-btn-next {
    left: 50px !important;
    top: 0 !important;
  }

  .review-btn-prev {
    left: 0 !important;
    top: 0 !important;
  }

  .hamburgar-btn {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 20px;
  }

  .hamburgar-btn span {
    width: 100%;
    height: 3px;
    border-radius: 20px;
    background: #333;
    transition: 0.3s;
  }

  .hamburgar-btn.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }

  .hamburgar-btn.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburgar-btn.active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .responsive-nav {
    display: none;
    background: #fff;
    margin-top: 53px;
    position: fixed;
    z-index: 999999;
    width: 100%;
  }

  .responsive-nav.active {
    display: block;
  }

  .r-gnb {
    display: flex;
    flex-direction: column;
  }

  .r-gnb li {
    width: 100%;
    padding: 10px 20px;
  }

  .r-gnb li a {
    font-family: 'Juache';
    font-size: 22px;
    display: block;
    padding: 10px;
    transition: 0.3s;
    color: #333;
  }

  .r-gnb li:hover {
    background: #333;
  }

  .r-gnb li:hover a {
    color: #fff;
  }
}